<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="text-center">
        <img src="../images/3410492fondo.png" class="logo1" alt="">
    </div>

    <ul>
        <li class="lista ">
            <a class="text-center" href="#">
                <i class="fas fa-print"></i>
                Billing</a>
        </li>
        <li class="mt-5">
            <a class="text-center" href="/links/client">
                <i class="fas fa-user"></i>
                Clients</a>
        </li>
        <li class="mt-5"><a class="text-center" href="#">
                <i class="fas fa-truck-moving"></i>
                Providers</a>
        </li >
        <li class="mt-5"><a class="text-center" href="#">
                <i class="fas fa-boxes"></i>
                Inventory</a>
        </li>
        <li class="mt-5"><a class="text-center" href="#">
                <i class="fas fa-chart-line"></i>
                Account</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->